
# Example aliases

alias lg="lazygit"
alias tree="eza --tree --level=2 --ignore-glob='node_modules|.git'"
alias ll="eza --icons --long --header --sort=name"
alias cat="bat"
alias cls="clear"
alias ff="fzf --preview 'bat --style=numbers --color=always {} | head -n 50' | xargs -r nvim"
alias v="nvim"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

