

export EDITOR="nvim"

export PATH="/opt/homebrew/opt/openjdk@11/bin:$PATH"

export PATH="/opt/homebrew/opt/mysql@8.0/bin:$PATH"
export PATH="/Users/isuman/.local/bin/scripts:$PATH"



#Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"



